.btn {
    @apply flex gap-2 items-center text-complement px-8 py-1 rounded-lg font-raleway border-2 border-solid border-complement;
    transition: all 0.3s ease;
}

.btn:hover {
    @apply bg-[#97F4FF] text-background rounded-none border-[#97F4FF];
}

.grad {
    @apply font-satisfy decoration-pink underline;
    background: linear-gradient(
            to right bottom,
            #ff671f 0%,
            #ff671f 35%,

            #ffffff 45%,
            #ffffff 55%,

            #046A38 65%,
            #046A38 100%
        );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}