.animate {
    color: #bdbfbe;
    transition: color 0.3s ease;
}

.animate:hover {
    color: #fff;
}

.animate::after {
    content: '';
    position: absolute;
    top: 36px;
    left: -3px;
    width: 0px;
    height: 5px;
    background-color: #FF3D8B;
    z-index: 1;
    transition: width 0.3s ease; 
}

.animate:hover::after {
    width: 110%;
}

.btn {
    @apply bg-background text-accent border-solid border-2 px-6 py-3 rounded-lg font-raleway;
    transition: all 0.3s ease;
}

.btn:hover {
    @apply bg-accent text-background rounded-none;
}